.venv
.venv/
.venv/*
.env
.env_used*
__pycache__/*
*.pyc

temp
temp/
temp/*

public-key.zip
*.pem
keys*

README.secret
README.furtive
config.py
*.mhtml
*original*
*ORIGINAL*
#do not load models
*.pt
db.sqlite3

*.mmdb

*.png
*.jpg
*.jpeg
*.mp3
*.gif
#*.mp4
statisticalMethodBased_ZScore_3D-checkpoint.ipynb
.ipynb_checkpoints/